In [4]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt
# pd.set_option('display.max_rows', 8)
!date
!whoami

%load_ext autoreload
%autoreload 2

Thu Jul 18 16:32:21 PDT 2019
ndbs

In [5]:
import sqlns_summarizer as sqs

In [6]:
# Map countries to the correct run date/subdirectory
locations_run_dates = {
    'Bangladesh': '2019_07_02_11_55_19',
#     'Burkina_Faso': '2019_07_02_11_56_40',
#     'Ethiopia': '2019_07_02_11_58_02',
#     'India': '2019_07_02_11_58_29',
#     'Nigeria': '2019_07_02_11_58_49',
    }

# Use above dictionary to map countries to the correct path for the Vivarium output to process
#E.g. /share/costeffectiveness/results/sqlns/bangladesh/2019_06_21_00_09_53
output_dir = '/share/costeffectiveness/results/sqlns/verification_and_validation'
locactions_paths = {location: f'{output_dir}/vv_{location.lower()}/{run_date}/output.hdf'
                   for location, run_date in locations_run_dates.items()}

# Read in data from different countries
locations_outputs = {location: pd.read_hdf(path) for location, path in locactions_paths.items()}

for location, output in locations_outputs.items():
    output['location'] = location
    print(location, output.shape) # Check whether all the same size or if some data is missing

Bangladesh (500, 1230)

In [16]:
all_output = pd.concat(locations_outputs.values(), copy=False, sort=False)
all_output.head()

                               total_population_untracked  total_population_tracked  ...  sqlns.program_coverage    location
input_draw_number random_seed                                                        ...
564.0             38.0                             9960.0                    9855.0  ...                     0.0  Bangladesh
391.0             0.0                              9973.0                    9905.0  ...                     0.0  Bangladesh
763.0             48.0                             9966.0                    9816.0  ...                     0.0  Bangladesh
157.0             0.0                              9961.0                    9751.0  ...                     0.0  Bangladesh
552.0             0.0                              9957.0                    9784.0  ...                     0.0  Bangladesh

[5 rows x 1230 columns]

In [17]:
all_output.filter(regex='anemia').head()

                               mild_anemia_counts_in_2020_among_male_in_age_group_early_neonatal  ...  unexposed_anemia_counts_in_2024_among_female_in_age_group_1_to_4
input_draw_number random_seed                                                                     ...
564.0             38.0                                                      16.0                  ...                                             1677.0
391.0             0.0                                                        0.0                  ...                                             2214.0
763.0             48.0                                                       8.0                  ...                                             2264.0
157.0             0.0                                                        5.0                  ...                                             1093.0
552.0             0.0                                                        0.0                  ...                                             1330.0

[5 rows x 160 columns]

## Create custom category/regex for anemia since column format is different from other risks

In [14]:
custom_search_regexes = sqs.default_column_categories_to_search_regexes()
custom_search_regexes

{'input_draw': 'input_draw',
 'random_seed': 'random_seed',
 'location': 'location',
 'intervention': 'w*\\.w*',
 'run_time': 'run_time',
 'diseases_at_end': '_prevalent_cases_at_sim_end$',
 'disease_event_count': '_event_count$',
 'population': 'population',
 'person_time': '^person_time',
 'mortality': '^death',
 'total_daly': '^years_lived_with_disability$|^years_of_life_lost$',
 'yld': '^ylds',
 'yll': '^ylls',
 'categorical_risk': '_cat\\d+_exposed'}

In [15]:
custom_search_regexes['anemia'] = 'anemia'

## Create an OutputSummarizer from the data and augmented regex dict

Then check the column categories.

In [39]:
output = sqs.SQLNSOutputSummarizer(all_output, custom_search_regexes)
output.data.head()

                               total_population_untracked  total_population_tracked  ...  sqlns.program_coverage    location
input_draw_number random_seed                                                        ...
564.0             38.0                             9960.0                    9855.0  ...                     0.0  Bangladesh
391.0             0.0                              9973.0                    9905.0  ...                     0.0  Bangladesh
763.0             48.0                             9966.0                    9816.0  ...                     0.0  Bangladesh
157.0             0.0                              9961.0                    9751.0  ...                     0.0  Bangladesh
552.0             0.0                              9957.0                    9784.0  ...                     0.0  Bangladesh

[5 rows x 1230 columns]

In [40]:
output.print_column_report()

Missing (0 data column(s) not captured in a category):
 set()

Repeated (0 data column(s) appearing in more than one category):
 {}

Empty categories (0 categories with no matching data columns):
 []

In [23]:
output.column_categories()

['input_draw',
 'random_seed',
 'location',
 'intervention',
 'run_time',
 'diseases_at_end',
 'disease_event_count',
 'population',
 'person_time',
 'mortality',
 'total_daly',
 'yld',
 'yll',
 'categorical_risk',
 'anemia']

In [24]:
output.columns('categorical_risk')

Index(['child_stunting_cat1_exposed_in_2020_among_male_in_age_group_early_neonatal',
       'child_stunting_cat2_exposed_in_2020_among_male_in_age_group_early_neonatal',
       'child_stunting_cat3_exposed_in_2020_among_male_in_age_group_early_neonatal',
       'child_stunting_cat4_exposed_in_2020_among_male_in_age_group_early_neonatal',
       'child_stunting_cat1_exposed_in_2020_among_female_in_age_group_early_neonatal',
       'child_stunting_cat2_exposed_in_2020_among_female_in_age_group_early_neonatal',
       'child_stunting_cat3_exposed_in_2020_among_female_in_age_group_early_neonatal',
       'child_stunting_cat4_exposed_in_2020_among_female_in_age_group_early_neonatal',
       'child_stunting_cat1_exposed_in_2020_among_male_in_age_group_late_neonatal',
       'child_stunting_cat2_exposed_in_2020_among_male_in_age_group_late_neonatal',
       ...
       'child_wasting_cat3_exposed_in_2024_among_female_in_age_group_post_neonatal',
       'child_wasting_cat4_exposed_in_2024_among_female_in_age_group_post_neonatal',
       'child_wasting_cat1_exposed_in_2024_among_male_in_age_group_1_to_4',
       'child_wasting_cat2_exposed_in_2024_among_male_in_age_group_1_to_4',
       'child_wasting_cat3_exposed_in_2024_among_male_in_age_group_1_to_4',
       'child_wasting_cat4_exposed_in_2024_among_male_in_age_group_1_to_4',
       'child_wasting_cat1_exposed_in_2024_among_female_in_age_group_1_to_4',
       'child_wasting_cat2_exposed_in_2024_among_female_in_age_group_1_to_4',
       'child_wasting_cat3_exposed_in_2024_among_female_in_age_group_1_to_4',
       'child_wasting_cat4_exposed_in_2024_among_female_in_age_group_1_to_4'],
      dtype='object', length=320)

In [25]:
output.columns('yld')

Index(['ylds_due_to_protein_energy_malnutrition_in_2020_among_male_in_age_group_early_neonatal',
       'ylds_due_to_protein_energy_malnutrition_in_2020_among_female_in_age_group_early_neonatal',
       'ylds_due_to_protein_energy_malnutrition_in_2020_among_male_in_age_group_late_neonatal',
       'ylds_due_to_protein_energy_malnutrition_in_2020_among_female_in_age_group_late_neonatal',
       'ylds_due_to_protein_energy_malnutrition_in_2020_among_male_in_age_group_post_neonatal',
       'ylds_due_to_protein_energy_malnutrition_in_2020_among_female_in_age_group_post_neonatal',
       'ylds_due_to_protein_energy_malnutrition_in_2020_among_male_in_age_group_1_to_4',
       'ylds_due_to_protein_energy_malnutrition_in_2020_among_female_in_age_group_1_to_4',
       'ylds_due_to_lower_respiratory_infections_in_2020_among_male_in_age_group_early_neonatal',
       'ylds_due_to_lower_respiratory_infections_in_2020_among_female_in_age_group_early_neonatal',
       ...
       'ylds_due_to_diarrheal_diseases_in_2024_among_male_in_age_group_1_to_4',
       'ylds_due_to_diarrheal_diseases_in_2024_among_female_in_age_group_1_to_4',
       'ylds_due_to_iron_deficiency_in_2024_among_male_in_age_group_early_neonatal',
       'ylds_due_to_iron_deficiency_in_2024_among_female_in_age_group_early_neonatal',
       'ylds_due_to_iron_deficiency_in_2024_among_male_in_age_group_late_neonatal',
       'ylds_due_to_iron_deficiency_in_2024_among_female_in_age_group_late_neonatal',
       'ylds_due_to_iron_deficiency_in_2024_among_male_in_age_group_post_neonatal',
       'ylds_due_to_iron_deficiency_in_2024_among_female_in_age_group_post_neonatal',
       'ylds_due_to_iron_deficiency_in_2024_among_male_in_age_group_1_to_4',
       'ylds_due_to_iron_deficiency_in_2024_among_female_in_age_group_1_to_4'],
      dtype='object', length=200)

In [26]:
output.columns('intervention')

Index(['sqlns.program_coverage'], dtype='object')

## Aggregate over random seeds

In [41]:
output.sum_over_random_seeds()

In [44]:
output.data.head()

     location  sqlns.program_coverage  input_draw  ...  years_of_life_lost  simulation_run_time  random_seed_count
0  Bangladesh                     0.0         3.0  ...       149447.015343        147507.338703                  5
1  Bangladesh                     0.0         8.0  ...       136991.237869        142894.092443                  5
2  Bangladesh                     0.0        21.0  ...       148201.614338        155202.522296                  5
3  Bangladesh                     0.0        29.0  ...       130102.701248        171403.354635                  5
4  Bangladesh                     0.0        35.0  ...       145635.025426        162211.826001                  5

[5 rows x 1230 columns]

In [45]:
output.print_column_report()

Missing (0 data column(s) not captured in a category):
 set()

Repeated (0 data column(s) appearing in more than one category):
 {}

Empty categories (0 categories with no matching data columns):
 []

In [48]:
output.subdata['intervention'].head()

   sqlns.program_coverage
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.0

In [53]:
output.subdata['intervention'].iloc[:,0].unique()

array([0.])

In [57]:
output.subdata['total_daly'].head()

   years_lived_with_disability  years_of_life_lost
0                   737.463916       149447.015343
1                  1032.608061       136991.237869
2                  1428.527743       148201.614338
3                  1458.329621       130102.701248
4                  1123.587867       145635.025426

In [58]:
output.subdata['person_time'].head()

   person_time_in_2020_among_male_in_age_group_early_neonatal  ...  person_time_in_2025_among_female_in_age_group_1_to_4
0                                          95.359128           ...                                                0.0
1                                          95.969891           ...                                                0.0
2                                          96.076351           ...                                                0.0
3                                          94.293261           ...                                                0.0
4                                          93.149001           ...                                                0.0

[5 rows x 48 columns]

In [59]:
output.subdata['categorical_risk'].head()

   child_stunting_cat1_exposed_in_2020_among_male_in_age_group_early_neonatal  ...  child_wasting_cat4_exposed_in_2024_among_female_in_age_group_1_to_4
0                                               89.0                           ...                                            10972.0
1                                              109.0                           ...                                            10928.0
2                                              102.0                           ...                                            11526.0
3                                               87.0                           ...                                            11516.0
4                                               82.0                           ...                                            11954.0

[5 rows x 320 columns]

## Test whether you can index a dataframe by a `dict_values` object of column names

Yes, you can:

In [60]:
output.columns('random_seed')

Index(['random_seed_count'], dtype='object')

In [61]:
output.columns('input_draw')

Index(['input_draw'], dtype='object')

In [64]:
output.data[['random_seed_count', 'input_draw']].head()

   random_seed_count  input_draw
0                  5         3.0
1                  5         8.0
2                  5        21.0
3                  5        29.0
4                  5        35.0

In [66]:
d = {'seed': 'random_seed_count', 'draw': 'input_draw'}
output.data[d.values()].head()

   random_seed_count  input_draw
0                  5         3.0
1                  5         8.0
2                  5        21.0
3                  5        29.0
4                  5        35.0

In [67]:
d.values()

dict_values(['random_seed_count', 'input_draw'])