In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt
# pd.set_option('display.max_rows', 8)
!date
!whoami

%load_ext autoreload
%autoreload 2

Tue Jul 23 17:23:15 PDT 2019
ndbs

In [2]:
import sqlns_summarizer as sqs

In [4]:
# Map countries to the correct run date/subdirectory
locations_run_dates = {
#     'Bangladesh': '2019_07_02_11_55_19',
#     'Burkina_Faso': '2019_07_02_11_56_40',
#     'Ethiopia': '2019_07_02_11_58_02',
#     'India': '2019_07_02_11_58_29',
    'Nigeria': '2019_07_18_13_20_17',
    }

# Use above dictionary to map countries to the correct path for the Vivarium output to process
#E.g. /share/costeffectiveness/results/sqlns/bangladesh/2019_06_21_00_09_53
# output_dir = '/share/costeffectiveness/results/sqlns/presentation/'
output_dir = '/share/scratch/users/ndbs/vivarium_results/sqlns/presentation'
locactions_paths = {location: f'{output_dir}/{location.lower()}/{run_date}/output_orig.hdf'
                   for location, run_date in locations_run_dates.items()}

# Read in data from different countries
locations_outputs = {location: pd.read_hdf(path) for location, path in locactions_paths.items()}

for location, output in locations_outputs.items():
    output['location'] = location
    print(location, output.shape) # Check whether all the same size or if some data is missing

Nigeria (9683, 104)

In [5]:
all_output = pd.concat(locations_outputs.values(), copy=False, sort=False)
all_output.head()

,,sqlns.effect_on_child_stunting.permanent,sqlns.effect_on_child_wasting.permanent,sqlns.effect_on_iron_deficiency.permanent,total_population_untracked,total_population_tracked,total_population,anemia_unexposed_in_2020_among_0_to_5,anemia_mild_in_2020_among_0_to_5,anemia_moderate_in_2020_among_0_to_5,anemia_severe_in_2020_among_0_to_5,...,ylls_due_to_measles,ylls_due_to_diarrheal_diseases,ylls_due_to_other_causes,years_of_life_lost,simulation_run_time,sqlns.duration,sqlns.effect_on_iron_deficiency.mean,sqlns.effect_on_iron_deficiency.sd,sqlns.program_coverage,location
input_draw_number,random_seed,,,,,,,,,,,,,,,,,,,,,
357,43,True,True,True,9687,11692,21379,2684,2231,4733,413,...,256.394515,15153.242014,70973.821650,100380.760317,45411.075970,730.50,4.475,0.328,0.0,Nigeria
674,43,True,True,False,9714,11469,21183,3601,2225,4004,246,...,1378.584280,8364.018945,75256.089062,96986.102986,45320.270788,365.25,8.950,0.656,0.6,Nigeria
394,30,True,True,True,9761,11587,21348,3319,2511,4005,229,...,4631.935910,10359.638192,50145.475641,76779.490992,45376.357707,365.25,8.950,0.656,0.0,Nigeria
55,48,True,True,True,9701,11590,21291,2781,2270,4611,376,...,2642.167275,10307.183519,63134.469247,93020.231689,45379.903812,365.25,4.475,0.328,0.6,Nigeria
482,43,False,False,False,9774,11419,21193,3805,2489,3552,168,...,864.702146,8904.826022,59765.652086,81590.653108,52511.952538,730.50,8.950,0.656,0.8,Nigeria

## Create an OutputSummarizer from the data

Then check the column categories.

In [6]:
output = sqs.SQLNSOutputSummarizer(all_output)
output.data.head()

,,sqlns.effect_on_child_stunting.permanent,sqlns.effect_on_child_wasting.permanent,sqlns.effect_on_iron_deficiency.permanent,total_population_untracked,total_population_tracked,total_population,anemia_unexposed_in_2020_among_0_to_5,anemia_mild_in_2020_among_0_to_5,anemia_moderate_in_2020_among_0_to_5,anemia_severe_in_2020_among_0_to_5,...,ylls_due_to_measles,ylls_due_to_diarrheal_diseases,ylls_due_to_other_causes,years_of_life_lost,simulation_run_time,sqlns.duration,sqlns.effect_on_iron_deficiency.mean,sqlns.effect_on_iron_deficiency.sd,sqlns.program_coverage,location
input_draw_number,random_seed,,,,,,,,,,,,,,,,,,,,,
357,43,True,True,True,9687,11692,21379,2684,2231,4733,413,...,256.394515,15153.242014,70973.821650,100380.760317,45411.075970,730.50,4.475,0.328,0.0,Nigeria
674,43,True,True,False,9714,11469,21183,3601,2225,4004,246,...,1378.584280,8364.018945,75256.089062,96986.102986,45320.270788,365.25,8.950,0.656,0.6,Nigeria
394,30,True,True,True,9761,11587,21348,3319,2511,4005,229,...,4631.935910,10359.638192,50145.475641,76779.490992,45376.357707,365.25,8.950,0.656,0.0,Nigeria
55,48,True,True,True,9701,11590,21291,2781,2270,4611,376,...,2642.167275,10307.183519,63134.469247,93020.231689,45379.903812,365.25,4.475,0.328,0.6,Nigeria
482,43,False,False,False,9774,11419,21193,3805,2489,3552,168,...,864.702146,8904.826022,59765.652086,81590.653108,52511.952538,730.50,8.950,0.656,0.8,Nigeria

In [10]:
output.print_column_report()

Number of data columns in output: 104
Total number of columns captured in categories: 104

Number of columns in each category:
 {'input_draw': 1, 'random_seed': 1, 'location': 1, 'intervention': 7, 'run_time': 1, 'diseases_at_end': 3, 'disease_event_count': 7, 'population': 5, 'person_time': 1, 'mortality': 5, 'total_daly': 2, 'yld': 5, 'yll': 5, 'categorical_risk': 40, 'graded_sequela': 20}

Missing (0 data column(s) not captured in a category):
 set()

Repeated (0 data column(s) appearing in more than one category):
 {}

Empty categories (0 categories with no matching data columns):
 []

In [11]:
output.column_categories()

['input_draw',
 'random_seed',
 'location',
 'intervention',
 'run_time',
 'diseases_at_end',
 'disease_event_count',
 'population',
 'person_time',
 'mortality',
 'total_daly',
 'yld',
 'yll',
 'categorical_risk',
 'graded_sequela']

In [12]:
output.columns('intervention')

Index(['sqlns.effect_on_child_stunting.permanent',
       'sqlns.effect_on_child_wasting.permanent',
       'sqlns.effect_on_iron_deficiency.permanent', 'sqlns.duration',
       'sqlns.effect_on_iron_deficiency.mean',
       'sqlns.effect_on_iron_deficiency.sd', 'sqlns.program_coverage'],
      dtype='object')

## Rename the intervention columns with shorter names

In [13]:
colname_mapper = {
    'sqlns.effect_on_child_stunting.permanent': 'stunting_permanent',
    'sqlns.effect_on_child_wasting.permanent': 'wasting_permanent',
    'sqlns.effect_on_iron_deficiency.permanent': 'iron_permanent',
    'sqlns.duration': 'duration',
    'sqlns.effect_on_iron_deficiency.mean': 'iron_mean',
    'sqlns.effect_on_iron_deficiency.sd': 'iron_sd', 
    'sqlns.program_coverage': 'coverage',
}

output.rename_intervention_columns(colname_mapper)
output.subdata['intervention'].head()

,,stunting_permanent,wasting_permanent,iron_permanent,duration,iron_mean,iron_sd,coverage
input_draw_number,random_seed,,,,,,,
357,43,True,True,True,730.50,4.475,0.328,0.0
674,43,True,True,False,365.25,8.950,0.656,0.6
394,30,True,True,True,365.25,8.950,0.656,0.0
55,48,True,True,True,365.25,4.475,0.328,0.6
482,43,False,False,False,730.50,8.950,0.656,0.8

## Sum over random seeds

In [14]:
output.sum_over_random_seeds()

In [15]:
output.data.head()

                                                                                                             total_population_untracked  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                               48744
                                                                                                 55                               48568
                                                                                                 223                              48616
                                                                                                 232                              48518
                                                                                                 357                              48423

                                                                                                             total_population_tracked  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                             57718
                                                                                                 55                             57863
                                                                                                 223                            58084
                                                                                                 232                            57817
                                                                                                 357                            58095

                                                                                                             total_population  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                    106462
                                                                                                 55                    106431
                                                                                                 223                   106700
                                                                                                 232                   106335
                                                                                                 357                   106518

                                                                                                             anemia_unexposed_in_2020_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                          15791
                                                                                                 55                                          13403
                                                                                                 223                                         16742
                                                                                                 232                                         15886
                                                                                                 357                                         13302

                                                                                                             anemia_mild_in_2020_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                     11803
                                                                                                 55                                     11155
                                                                                                 223                                    11348
                                                                                                 232                                    11169
                                                                                                 357                                    11303

                                                                                                             anemia_moderate_in_2020_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                         21626
                                                                                                 55                                         23855
                                                                                                 223                                        20831
                                                                                                 232                                        21556
                                                                                                 357                                        23527

                                                                                                             anemia_severe_in_2020_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                        1233
                                                                                                 55                                        1978
                                                                                                 223                                       1474
                                                                                                 232                                       1759
                                                                                                 357                                       2092

                                                                                                             anemia_unexposed_in_2021_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                          16020
                                                                                                 55                                          13656
                                                                                                 223                                         16901
                                                                                                 232                                         15959
                                                                                                 357                                         13409

                                                                                                             anemia_mild_in_2021_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                     12077
                                                                                                 55                                     11248
                                                                                                 223                                    11571
                                                                                                 232                                    11496
                                                                                                 357                                    11536

                                                                                                             anemia_moderate_in_2021_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                         21815
                                                                                                 55                                         24231
                                                                                                 223                                        21178
                                                                                                 232                                        21756
                                                                                                 357                                        24075

                                                                                                             ...  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw  ...
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29          ...
                                                                                                 55          ...
                                                                                                 223         ...
                                                                                                 232         ...
                                                                                                 357         ...

                                                                                                             ylds_due_to_iron_deficiency  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                          7603.369024
                                                                                                 55                          9692.271788
                                                                                                 223                         7468.419472
                                                                                                 232                         7724.054138
                                                                                                 357                         8798.177862

                                                                                                               person_time  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29          259744.850064
                                                                                                 55          258650.083681
                                                                                                 223         259055.631655
                                                                                                 232         257493.315728
                                                                                                 357         257614.245891

                                                                                                             ylls_due_to_protein_energy_malnutrition  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                     13237.922093
                                                                                                 55                                     10858.651174
                                                                                                 223                                    17671.416430
                                                                                                 232                                     9627.916327
                                                                                                 357                                    12562.335645

                                                                                                             ylls_due_to_lower_respiratory_infections  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                      73871.752361
                                                                                                 55                                      75315.776479
                                                                                                 223                                     68649.879953
                                                                                                 232                                     64839.700479
                                                                                                 357                                     64196.229080

                                                                                                             ylls_due_to_measles  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                  7115.827218
                                                                                                 55                 13777.897209
                                                                                                 223                13160.486761
                                                                                                 232                10210.514057
                                                                                                 357                 2822.364465

                                                                                                             ylls_due_to_diarrheal_diseases  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                            39629.390265
                                                                                                 55                            48820.709637
                                                                                                 223                           59842.241065
                                                                                                 232                           50449.245211
                                                                                                 357                           67861.370469

                                                                                                             ylls_due_to_other_causes  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                     273499.824957
                                                                                                 55                     313035.156224
                                                                                                 223                    302481.698594
                                                                                                 232                    334535.840476
                                                                                                 357                    346164.365108

                                                                                                             years_of_life_lost  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29               407354.716894
                                                                                                 55               461808.190723
                                                                                                 223              461805.722803
                                                                                                 232              469663.216550
                                                                                                 357              493606.664767

                                                                                                             simulation_run_time  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                154624.662709
                                                                                                 55                154908.754610
                                                                                                 223               165209.011863
                                                                                                 232               151660.288501
                                                                                                 357               140523.608507

                                                                                                             random_seed_count
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                          5
                                                                                                 55                          5
                                                                                                 223                         5
                                                                                                 232                         5
                                                                                                 357                         5

[5 rows x 95 columns]

In [16]:
output.print_column_report()

Number of data columns in output: 95
Total number of columns captured in categories: 104

Number of columns in each category:
 {'input_draw': 1, 'random_seed': 1, 'location': 1, 'intervention': 7, 'run_time': 1, 'diseases_at_end': 3, 'disease_event_count': 7, 'population': 5, 'person_time': 1, 'mortality': 5, 'total_daly': 2, 'yld': 5, 'yll': 5, 'categorical_risk': 40, 'graded_sequela': 20}

Missing (0 data column(s) not captured in a category):
 set()

Repeated (0 data column(s) appearing in more than one category):
 {}

Empty categories (0 categories with no matching data columns):
 []

## Check that code for finding column names in the index worked

In [17]:
output.data.index.names

FrozenList(['location', 'stunting_permanent', 'wasting_permanent', 'iron_permanent', 'duration', 'iron_mean', 'iron_sd', 'coverage', 'input_draw'])

In [18]:
output.data.index.get_level_values('stunting_permanent')

Index([False, False, False, False, False, False, False, False, False, False,
       ...
        True,  True,  True,  True,  True,  True,  True,  True,  True,  True],
      dtype='object', name='stunting_permanent', length=1944)

In [19]:
output.index_columns

['location',
 'stunting_permanent',
 'wasting_permanent',
 'iron_permanent',
 'duration',
 'iron_mean',
 'iron_sd',
 'coverage',
 'input_draw']

In [20]:
output.subdata['intervention'].head()

                                                                                                            stunting_permanent  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                      False
                                                                                                 55                      False
                                                                                                 223                     False
                                                                                                 232                     False
                                                                                                 357                     False

                                                                                                            wasting_permanent  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                     False
                                                                                                 55                     False
                                                                                                 223                    False
                                                                                                 232                    False
                                                                                                 357                    False

                                                                                                            iron_permanent  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                  False
                                                                                                 55                  False
                                                                                                 223                 False
                                                                                                 232                 False
                                                                                                 357                 False

                                                                                                             duration  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29            365.25
                                                                                                 55            365.25
                                                                                                 223           365.25
                                                                                                 232           365.25
                                                                                                 357           365.25

                                                                                                             iron_mean  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29              0.895
                                                                                                 55              0.895
                                                                                                 223             0.895
                                                                                                 232             0.895
                                                                                                 357             0.895

                                                                                                             iron_sd  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29           0.0656
                                                                                                 55           0.0656
                                                                                                 223          0.0656
                                                                                                 232          0.0656
                                                                                                 357          0.0656

                                                                                                             coverage
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29               0.0
                                                                                                 55               0.0
                                                                                                 223              0.0
                                                                                                 232              0.0
                                                                                                 357              0.0

## Check some of the column categories and subdata

In [21]:
output.columns('mortality')

Index(['death_due_to_protein_energy_malnutrition',
       'death_due_to_lower_respiratory_infections', 'death_due_to_measles',
       'death_due_to_diarrheal_diseases', 'death_due_to_other_causes'],
      dtype='object')

In [22]:
output.columns('yld')

Index(['ylds_due_to_protein_energy_malnutrition',
       'ylds_due_to_lower_respiratory_infections', 'ylds_due_to_measles',
       'ylds_due_to_diarrheal_diseases', 'ylds_due_to_iron_deficiency'],
      dtype='object')

In [23]:
output.columns('person_time')

Index(['person_time'], dtype='object')

In [24]:
output.subdata['person_time'].head()

                                                                                                               person_time
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29          259744.850064
                                                                                                 55          258650.083681
                                                                                                 223         259055.631655
                                                                                                 232         257493.315728
                                                                                                 357         257614.245891

In [25]:
output.subdata['yld'].stack().tail()

location  stunting_permanent  wasting_permanent  iron_permanent  duration  iron_mean  iron_sd  coverage  input_draw
Nigeria   True                True               True            730.5     8.95       0.656    1.0       946         ylds_due_to_protein_energy_malnutrition      484.512335
                                                                                                                     ylds_due_to_lower_respiratory_infections      14.942443
                                                                                                                     ylds_due_to_measles                            9.761788
                                                                                                                     ylds_due_to_diarrheal_diseases               549.806865
                                                                                                                     ylds_due_to_iron_deficiency                 3415.128030
dtype: float64

## Check output for monotonicity with coverage

In [26]:
output.data.head()

                                                                                                             total_population_untracked  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                               48744
                                                                                                 55                               48568
                                                                                                 223                              48616
                                                                                                 232                              48518
                                                                                                 357                              48423

                                                                                                             total_population_tracked  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                             57718
                                                                                                 55                             57863
                                                                                                 223                            58084
                                                                                                 232                            57817
                                                                                                 357                            58095

                                                                                                             total_population  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                    106462
                                                                                                 55                    106431
                                                                                                 223                   106700
                                                                                                 232                   106335
                                                                                                 357                   106518

                                                                                                             anemia_unexposed_in_2020_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                          15791
                                                                                                 55                                          13403
                                                                                                 223                                         16742
                                                                                                 232                                         15886
                                                                                                 357                                         13302

                                                                                                             anemia_mild_in_2020_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                     11803
                                                                                                 55                                     11155
                                                                                                 223                                    11348
                                                                                                 232                                    11169
                                                                                                 357                                    11303

                                                                                                             anemia_moderate_in_2020_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                         21626
                                                                                                 55                                         23855
                                                                                                 223                                        20831
                                                                                                 232                                        21556
                                                                                                 357                                        23527

                                                                                                             anemia_severe_in_2020_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                        1233
                                                                                                 55                                        1978
                                                                                                 223                                       1474
                                                                                                 232                                       1759
                                                                                                 357                                       2092

                                                                                                             anemia_unexposed_in_2021_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                          16020
                                                                                                 55                                          13656
                                                                                                 223                                         16901
                                                                                                 232                                         15959
                                                                                                 357                                         13409

                                                                                                             anemia_mild_in_2021_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                     12077
                                                                                                 55                                     11248
                                                                                                 223                                    11571
                                                                                                 232                                    11496
                                                                                                 357                                    11536

                                                                                                             anemia_moderate_in_2021_among_0_to_5  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                         21815
                                                                                                 55                                         24231
                                                                                                 223                                        21178
                                                                                                 232                                        21756
                                                                                                 357                                        24075

                                                                                                             ...  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw  ...
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29          ...
                                                                                                 55          ...
                                                                                                 223         ...
                                                                                                 232         ...
                                                                                                 357         ...

                                                                                                             ylds_due_to_iron_deficiency  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                          7603.369024
                                                                                                 55                          9692.271788
                                                                                                 223                         7468.419472
                                                                                                 232                         7724.054138
                                                                                                 357                         8798.177862

                                                                                                               person_time  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29          259744.850064
                                                                                                 55          258650.083681
                                                                                                 223         259055.631655
                                                                                                 232         257493.315728
                                                                                                 357         257614.245891

                                                                                                             ylls_due_to_protein_energy_malnutrition  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                     13237.922093
                                                                                                 55                                     10858.651174
                                                                                                 223                                    17671.416430
                                                                                                 232                                     9627.916327
                                                                                                 357                                    12562.335645

                                                                                                             ylls_due_to_lower_respiratory_infections  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                                      73871.752361
                                                                                                 55                                      75315.776479
                                                                                                 223                                     68649.879953
                                                                                                 232                                     64839.700479
                                                                                                 357                                     64196.229080

                                                                                                             ylls_due_to_measles  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                  7115.827218
                                                                                                 55                 13777.897209
                                                                                                 223                13160.486761
                                                                                                 232                10210.514057
                                                                                                 357                 2822.364465

                                                                                                             ylls_due_to_diarrheal_diseases  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                            39629.390265
                                                                                                 55                            48820.709637
                                                                                                 223                           59842.241065
                                                                                                 232                           50449.245211
                                                                                                 357                           67861.370469

                                                                                                             ylls_due_to_other_causes  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                     273499.824957
                                                                                                 55                     313035.156224
                                                                                                 223                    302481.698594
                                                                                                 232                    334535.840476
                                                                                                 357                    346164.365108

                                                                                                             years_of_life_lost  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29               407354.716894
                                                                                                 55               461808.190723
                                                                                                 223              461805.722803
                                                                                                 232              469663.216550
                                                                                                 357              493606.664767

                                                                                                             simulation_run_time  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                154624.662709
                                                                                                 55                154908.754610
                                                                                                 223               165209.011863
                                                                                                 232               151660.288501
                                                                                                 357               140523.608507

                                                                                                             random_seed_count
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      29                          5
                                                                                                 55                          5
                                                                                                 223                         5
                                                                                                 232                         5
                                                                                                 357                         5

[5 rows x 95 columns]

In [27]:
idx = pd.IndexSlice

output.data.loc[idx['Nigeria', False, False, False, 365.25, 0.895, 0.0656, :, 357],
                ['death_due_to_other_causes', 'death_due_to_diarrheal_diseases', 'ylds_due_to_iron_deficiency']]

                                                                                                             death_due_to_other_causes  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      357                              3996
                                                                                        0.2      357                              3996
                                                                                        0.4      357                              3180
                                                                                        0.6      357                              3997
                                                                                        0.8      357                              3997
                                                                                        1.0      357                              3997

                                                                                                             death_due_to_diarrheal_diseases  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      357                                     784
                                                                                        0.2      357                                     784
                                                                                        0.4      357                                     617
                                                                                        0.6      357                                     781
                                                                                        0.8      357                                     780
                                                                                        1.0      357                                     778

                                                                                                             ylds_due_to_iron_deficiency
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      357                         8798.177862
                                                                                        0.2      357                         8781.859495
                                                                                        0.4      357                         7031.784655
                                                                                        0.6      357                         8744.649605
                                                                                        0.8      357                         8726.777542
                                                                                        1.0      357                         8709.519613

In [29]:
output.data.loc[idx['Nigeria', False, False, False, 365.25, 0.895, 0.0656, :, 55],
                ['years_of_life_lost', 'years_lived_with_disability', 'random_seed_count']]

                                                                                                             years_of_life_lost  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      55               461808.190723
                                                                                        0.2      55               461634.526775
                                                                                        0.4      55               371314.148884
                                                                                        0.6      55               460939.033823
                                                                                        0.8      55               460763.115840
                                                                                        1.0      55               460065.875866

                                                                                                             years_lived_with_disability  \
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      55                          2123.455869
                                                                                        0.2      55                          2106.889755
                                                                                        0.4      55                          1674.282967
                                                                                        0.6      55                          2078.760897
                                                                                        0.8      55                          2056.203289
                                                                                        1.0      55                          2042.430407

                                                                                                             random_seed_count
location stunting_permanent wasting_permanent iron_permanent duration iron_mean iron_sd coverage input_draw
Nigeria  False              False             False          365.25   0.895     0.0656  0.0      55                          5
                                                                                        0.2      55                          5
                                                                                        0.4      55                          4
                                                                                        0.6      55                          5
                                                                                        0.8      55                          5
                                                                                        1.0      55                          5

In [30]:
output.subdata['random_seed'].iloc[:,0].unique()

array([5, 4, 3])

In [39]:
output.data.loc[output.subdata['random_seed'].iloc[:,0]==3,
                ['years_of_life_lost', 'years_lived_with_disability', 'random_seed_count']]

,,,,,,,,,years_of_life_lost,years_lived_with_disability,random_seed_count
location,stunting_permanent,wasting_permanent,iron_permanent,duration,iron_mean,iron_sd,coverage,input_draw,,,
Nigeria,False,False,False,365.25,8.95,0.656,0.0,680,270142.562318,1218.343554,3

In [35]:
18*5*108

9720

In [36]:
9720-9683

37